{% include header.html %}

  <div class="container">

    <span class="left-content">
      <div class="back-arrow"><a href="/preview">&larr; preview list</a></div>
      <div class="draft-date">{{ page.date | date: "%m / %d / %y" }}</div>
      <div class="article-title">{{ page.title }}</div>
      <div class="article-author">{{ page.author | prepend: 'By ' }}</div>
      <div class="article-text">{{ content }}</div>
      <div class="text-end"></div>
    </span>

    {% include sidebar.html %}

  </div>

{% include footer.html %}
