{% include header.html %}

  <div class="container">
    <div class="subscribe-thanks-wrapper">
      <div class="subscribe-thanks-big">Welcome to the community! Thanks for joining us.</div>
      <div class="subscribe-thanks-med">You may close this page.</div>
      <div class="subscribe-thanks-small"><a href="/archive">&larr; back to site</a></div>
      <div class="subscribe-thanks-tiny"><i><a href="https://theshapeofcollege.us12.list-manage.com/unsubscribe?u=1242e0bccdbc82a939d2aaf0f&id=19712947bd">oops, take me off the list</a></i></div>
    </div>
  </div>

{% include footer.html %}
